body {
	--page-margin: 1.7rem;
	--button-icon-size: 2.8rem;
	--max-page-width: 51rem;
	--level3-contents-width: 20rem;
	--line-height: 1.6;
	--gap: 2rem;

	margin: unset;

	line-height: var(--line-height);
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.root > * {
	width: 100%;
}

.max-page-width {
	width: min(calc(100% - var(--page-margin) * 2), var(--max-page-width));
}

h2 {
	font-size: 2em;
	text-align: center;
	padding-bottom: 1em;
	background: url("/images/partition.png") no-repeat center bottom / auto 0.4em;
}

h2 + div:not([hidden]) {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--gap);
}

h2 + div > * {
	width: min(100%, var(--level3-contents-width));
}

h3 {
	font-size: 1.7em;
	padding-bottom: 0.2em;
	background: url("/images/partition_line.png") no-repeat left bottom / auto 0.1em;
}

h4::before {
	content: "●";
}

.twitter-hashtag {
	background: white;
	border: solid #EFEFEF 0.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem 0;
	width: min(calc(100% - var(--page-margin) * 2), 22rem);
}

.twitter-hashtag :is(h2, h3) {
	font-size: 1rem;
	color: #606060;
	background: unset;
	margin: unset;
}

.twitter-hashtag :is(h2, h3)::after {
	content: "";
	display: block;
	width: 3rem;
	height: 0.2rem;
	background: #EA5D51;
	margin: 1em auto 0.3rem;
}

.twitter-hashtag a {
	font-size: 1.2rem;
	color: #EA5D51;
	font-weight: bold;
}

.copyright-heading {
	display: none;
}

.copyright-heading + p {
	text-align: center;
}

/*------------------------------------
	注記
*/
small,
small + ul {
	font-size: smaller;
	color: dimgrey;
}

small {
	display: block;
	text-indent: 1em;
}

small::before {
	content: "※";
	margin-right: 0.2em;
}

p > small:only-of-type {
	text-indent: -1em;
	margin: -1em 0 0 4em;
}
