body > nav ul {
	padding: unset;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

body > nav li:not(:last-of-type)::after {
	content: "";
	display: inline-block;
	height: 1em;
	border-left: solid 0.1em;
	margin: 0 0.7em;
}

body > nav a {
	color: unset;
}
